<div id="center">
	
	 <% @sections.each do |section| %>
	            <div class="<%= section.name %>">
                
        <div id="ccc" class="col">
        <h4 class="ban"><a href="/d/community/search/ccc" class="ccc" data-alltitle="all <%= section.name %>" data-cat="ccc"><span class="txt"><%= section.name %><sup class="c"></sup></span></a></h4>
        <div class="cats">
        <ul id="ccc0" class="left">
					<% section.categories.each do |category| %>
	<li><a href="<%= category_show_posts_path(category.id) %>" class="<%= category.name %>" data-cat="<%= category.name %>"><span class="txt"><%= category.name %><sup class="c"></sup></span></a></li>				
					<% end %>
</ul>
	
	
	<% end %>
	

<!--					
<ul id="ccc1" class="mc">
<li><a href="/d/lost-found/search/laf" class="laf" data-cat="laf"><span class="txt">lost+found<sup class="c"></sup></span></a></li>
<li><a href="/d/missed-connections/search/mis" class="mis" data-cat="mis"><span class="txt">missed connections<sup class="c"></sup></span></a></li>
<li><a href="/d/musicians/search/muc" class="muc" data-cat="muc"><span class="txt">musicians<sup class="c"></sup></span></a></li>
<li><a href="/d/pets/search/pet" class="pet" data-cat="pet"><span class="txt">pets<sup class="c"></sup></span></a></li>
<li><a href="/d/politics/search/pol" class="pol" data-cat="pol"><span class="txt">politics<sup class="c"></sup></span></a></li>
<li><a href="/d/rants-raves/search/rnr" class="rnr" data-cat="rnr"><span class="txt">rants &amp; raves<sup class="c"></sup></span></a></li>
<li><a href="/d/rideshare/search/rid" class="rid" data-cat="rid"><span class="txt">rideshare<sup class="c"></sup></span></a></li>
<li><a href="/d/volunteers/search/vol" class="vol" data-cat="vol"><span class="txt">volunteers<sup class="c"></sup></span></a></li>
</ul>

-->
</div>
</div>

         </div>
</div>