<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :neighbourhood %>
    <%= form.text_field :neighbourhood %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.number_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>
		<%= hidden_field_tag 'post[user_id]', current_user.id %>
    <%= hidden_field_tag 'post[city_id]', current_user.city_id %>

  <div class="field">
    <%= form.label :section_id %>
		<%= select_tag "post[section_id]", options_from_collection_for_select(Section.all, "id", "name") %>
  </div>



  <div class="field">
    <%= form.label :category_id %>
		<%= select_tag "post[category_id]", [] %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :pictures, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
    $(function () {
        $("#post_section_id").change(function () {
				  $("#post_category_id").html("");
          var selected_section = $(this).children("option:selected").val();
					
					 $.ajax({
                    url: '/sections/' + selected_section + '/show_categories'
            }).then(function(response) {
							for (var i=0; i<response.length; i++){
								$("#post_category_id").append($('<option></option>').attr('value', response[i].id).text(response[i].name));
								}
            });
        });
    });
	
	</script>
