<!DOCTYPE html>
<html>
  <head>
    <title>Craigslist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <body>
		<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
	<% if user_signed_in? %>
  <li><a href="#">Logged in as <strong><%= current_user.email %></a></strong></li>
  <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
<% else %>
  <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
  <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </li>
<% end %>
	
		
    <%= yield %>
  </body>
</html>
